.aboutBox{
    border-left: 0.2px solid rgba(108, 108, 108, 0.25);
    position: relative;
}

.aboutBox::before{
    content:"";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border:solid 2px white;
    background-color: #020A13;
    position: absolute;
    left: 0px;
    z-index: 10;
    transform: translateX(-50%);
}
.aboutBox:last-child{
    padding-bottom: 0rem;
}